{%- set build = version.split("+")[1] if "+" in version %}
{%- set version = version.split("+")[0] %}

{
  "NAME": "{{ name }}",
  "URL": "{{ url }}",
  "VERSION": {
    "MAJOR": {{ version.split(".")[0] }},
    "MINOR": {{ version.split(".")[1] }},
    "PATCH": {{ version.split(".")[2] }},
    "BUILD": {{ build }}
  },
  "KSP_VERSION": {
    "MAJOR": {{ kspmax.split(".")[0] }},
    "MINOR": {{ kspmax.split(".")[1] }},
    "PATCH": {{ kspmax.split(".")[2] }}
  },
  "KSP_VERSION_MIN": {
    "MAJOR": {{ kspmin.split(".")[0] }},
    "MINOR": {{ kspmin.split(".")[1] }},
    "PATCH": {{ kspmin.split(".")[2] }}
  },
  "KSP_VERSION_MAX": {
    "MAJOR": {{ kspmax.split(".")[0] }},
    "MINOR": {{ kspmax.split(".")[1] }},
    "PATCH": {{ kspmax.split(".")[2] }}
  }
}
